:root { 
	--maincolor: #40E0D0;
	--exceptioncolor: red;
<<<<<<< HEAD
=======
	--successcolor: blue;
	--failurecolor: green;
>>>>>>> bf7df1a1e733b9fdc2396708ecce62342bb031e3
}
body{
	  font-family: Arial, Helvetica, sans-serif;
	  width: 900px;
	margin: 30px auto 0;
	display: block;
	padding: 10px 50px 50px;
}
h1{
    color: black;
    font-size: 60px;
    opacity: 1;
    margin: 20px;
}
.header {
  height: 100px;
	padding: 10px;;
	text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
  url("/images/header.jpg");
  background-repeat: no-repeat;
	border-radius: 6px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.footer {
	padding: 30px;
	text-align: center;
	background: var(--maincolor);
	color: white;
	font-size: 30px;
	border-radius: 6px;
	margin-top: 30px;
	
}

.container {
	width: 100%;
	margin: 30px auto;
	border-radius: 6px;
	height: 100%;
	display:flex;
	justify-content:space-between;
}

.sidenav {
	height: 100; /* Full-height: remove this if you want "auto" height */
	width: 20%; /* Set the width of the sidebar */
	left: 0;
	background-color: var(--maincolor);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding: 30px;
	border-radius: 6px;
  margin-right: 30px;
	float: left;
}

.dynamic-content {
	width: 80%; 
	background-color: var(--maincolor);
	border-radius: 6px;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	margin: auto;
	padding: 20px;
	float: left;
	
}
.exception{
	color: var(--exceptioncolor);	
	font-size: 14px;
}
<<<<<<< HEAD
=======
.success{
	color: var(--successcolor);	
	font-size: 14px;
}
.failure{
	color: var(--failurecolor);	
	font-size: 14px;
}
>>>>>>> bf7df1a1e733b9fdc2396708ecce62342bb031e3
.add-user{
	text-alignment: right;
}
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

table {
	background: #DEF;
	border-radius: 4px;
	 padding: 20px;
<<<<<<< HEAD
	 margin:20px;	
=======
	 margin:20px;
	
>>>>>>> bf7df1a1e733b9fdc2396708ecce62342bb031e3
}

tr {
	border-radius: 4px;
}

td {
	border-radius: 4px;
	text-align: center;
}