:root { 
	--maincolor: #40E0D0;
	--exceptioncolor: red;
}

* {
	box-sizing: border-box;
}

.header {
	width: 100%;
	padding: 60px;
	text-align: center;
	background: var(--maincolor);
	color: white;
	font-size: 30px;
	border-radius: 6px;
}

.footer {
	width: 100%;
	padding: 30px;
	text-align: center;
	background: var(--maincolor);
	color: white;
	font-size: 30px;
	border-radius: 6px;
	margin-top: 30px;
	
}

.container {
	width: 100%;
	margin-top: 30px;
	border-radius: 6px;
	height: 600px;
	display:flex;
	justify-content:space-between;
}

.sidenav {
	height: 600px; /* Full-height: remove this if you want "auto" height */
	width: 20%; /* Set the width of the sidebar */
	left: 0;
	background-color: var(--maincolor);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding: 60px;
	border-radius: 6px;
	float: left;
}

.dynamic-content {
	width: 80%; 
	background-color: var(--maincolor);
	border-radius: 6px;
	height: 600px; /* Full-height: remove this if you want "auto" height */
	margin-left: 10px;
	padding: 20px;
	float: left;
	
}
.exception{
	color: var(--exceptioncolor);	
	font-size: 14px;
}
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

body {
	font-family: 'Roboto';
	width: 900px;
	margin: 30px auto 0;
	display: block;
	padding: 10px 50px 50px;
}

table {
	background: #DEF;
	border-radius: 4px;
}

tr {
	border-radius: 4px;
}

td {
	border-radius: 4px;
	text-align: center;
}








/* -------------------------------------- */   


@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
body { 
  margin: 0; 
  padding: 0; 
  background: #333;
  font-family: Raleway; 
  text-transform: uppercase; 
  font-size: 11px; 
}
h1{ margin: 0; }
#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}